extends ../../layouts/default

block head
  title My Profile

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
 div.col-sm-6
      div.page-header
        h1 My Profile
        | Hi,  #{user.username}!
      
      b My email : 
      | #{email}
      br   
      b Full Name :  
      | #{account.name.full}
      br  
      b Country : 
      | #{account.country}
      p   
      a(class='btn btn-primary btn-md active',href='/account/settings')
        i(class='glyphicon glyphicon-pencil')
        |  Modify my profile