extends ../../layouts/default

block head
  title My Profile

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
  script(src='/javascripts/utils/md5.js?#{cacheBreaker}')
  script(src='/javascripts/utils/pnglib.js?#{cacheBreaker}')
  script(src='/javascripts/utils/identicon.js?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
    br
    div.f32.row.vertical-offset-100
        .circle(style="display: inline; padding-top: 10px; float: left; border-radius: 50%; width: 40px; height: 40px; background-color: lightgray; margin-right: 25px; text-align: center;")
            span #{notification}
        div.col-md-6.col-md-offset-3
            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') #{__("Profile: ")} #{name}
                div.panel-body

                    script(language='javascript').
                        data = new Identicon(md5('#{name}'), 120).toString();
                        document.write('<img width=120 height=120 style="float:right;clear:right;" src="data:image/png;base64,' + data + '"><br><br>');

                    b #{__("Email")} : &nbsp;
                    | #{email}
                    br
                    b #{__("Full Name")} : &nbsp;
                    | #{account.name.full}
                    br
                    b #{__("Inscription date")} : &nbsp;
                    | #{timeCreated}
                    br
                    b #{__("Country")} : &nbsp;
                    span(class="#{flag}", style="vertical-align: middle")
                    | &nbsp; #{country}
                    br
                    br
                    a(class='btn btn-warning btn-block active',href='/account/settings/',style='left:0; bottom: 0')
                       i(class='glyphicon glyphicon-pencil')
                       |  #{__("Modify")}

            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') #{__("Stats")}
                div.panel-body

            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') #{__("my questions")}
                div.panel-body
                    each question in questions
                        a(style="padding-top: 20px; color: #000000; font-size: 20px;", href='/forum?question_id=#{question._id}') #{question.titre}
                        a(class='btn btn-link', href='/forum/modifier?question_id=#{question._id}') #{__("Modify")}
                        br
