extends ../../layouts/default

block head
  title My Profile

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
   div.f32.col-sm-6
      div.page-header
        h1 #{__("My Profile")}

      b #{__("My email")} : &nbsp;
      | #{email}
      br   
      b #{__("Full Name")} : &nbsp;
      | #{account.name.full}
      br  
      b #{__("Country")} : &nbsp;
      span(class="#{flag}", style="vertical-align: middle")
      | &nbsp; #{country}
      p   
      a(class='btn btn-primary btn-md active',href='/account/settings/')
        i(class='glyphicon glyphicon-pencil')
        |  #{__("Modify")}