extends ../../../../layouts/default

block head
    title Games

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
    script(src='/javascripts/invers/Invers.js')

    script(language='javascript').
        $(document).ready(function() {
            Invers.load(function() {
                $('#winnerModal .new-game-button').click(function() {
                    $('#winnerModal').modal('hide');
                    window.location.href = '/games/play/?game=invers';
                });

                var canvas = document.getElementById("board");
                var canvas_div = document.getElementById("boardDiv");
                var engine = new Invers.Engine(0, 0);
                var gui = new Invers.Gui(#{color}, engine, '#{game_id}' === '-1');
                var other;

                if ('#{game_type}' === 'remote_ai') {
                    other = new Invers.RestWebServicePlayer(#{opponent_color}, engine, '#{user.username}');
                } else if ('#{game_id}' === '-1') {
                    other = new Invers.MCTSPlayer(#{opponent_color}, engine);
                } else {
                    other = new Invers.RemotePlayer(#{opponent_color}, engine, '#{owner_id}', '#{opponent_id}', '#{game_id}');
                }

                var manager = new Invers.Manager(engine, gui, other);

                if (canvas_div.clientHeight < canvas_div.clientWidth) {
                    canvas.height = canvas_div.clientHeight * 0.95;
                    canvas.width = canvas_div.clientHeight * 0.95;
                } else {
                    canvas.height = canvas_div.clientWidth * 0.95;
                    canvas.width = canvas_div.clientWidth * 0.95;
                }
                gui.set_canvas(canvas);
                gui.set_manager(manager);
                if ('#{game_id}' != '-1') {
                    other.set_manager(manager);
                    other.set_gui(gui);
                } else {
                    other.set_level(manager.load_level());
                    if (other.is_remote()) {
                        other.set_manager(manager);
                    }
                }
                if (engine.current_color() === other.color() && !other.is_remote()) {
                    manager.play_opponent();
                }
            });
        });

    br
    div.modal.fade(id='winnerModal',tabindex='-1',role='dialog',aria-labelledby='winnerModelLabel',aria-hidden='true')
        div.modal-dialog
            div.modal-content
                div.modal-body(id='winnerModalText')
                div.modal-footer
                    div.btn-group
                        a.btn.btn-primary.new-game-button(href='#') New game

    div.row
        div.col-md-12(id='boardDiv')
            canvas(id='board',style='width: 600px; height: 600px; padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; display: block; border-radius: 15px; -moz-border-radius: 15px; box-shadow: 8px 8px 2px #aaa;')