extends ../layouts/default
script(src='/javascripts/GameClient.js')


block head
  title OpenXum

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  script(src='/javascripts/InfoClient.js')
  script(language='javascript').
      var client = new InfoClient();
      client.start();
  div.row
    div.col-sm-10
      div.page-header
        h1 Welcome to OpenXum
      div.row
        div.col-sm-3
          div.well.stat
            div.stat-value #{count.countUser}
            div.stat-label #{__("Players")}
        div.col-sm-3
          div.well.stat
            div.stat-value #{count.countGameType}
            div.stat-label #{__("Games")}
        div.col-sm-3
          div.well.stat
            div.stat-value #{count.countGame}
            div.stat-label #{__("In progress games")}
        div.col-sm-3
          div.well.stat
            #countPlayers.stat-value ---
            div.stat-label #{__("Online players")}
   div.row
   H2 #{__("Last games")}
   ul.list-group
       each item in histo
          li.list-group-item 
             if (item.userCreated === item.winner) 
                b.span.text-warning.offset1 #{item.userCreated}
                | VS  
                b.span.text-info #{item.opponent}
             else 
                b.span.text-warning #{item.opponent}
                |  VS  
                b.span.text-info #{item.userCreated}    
             
             span.badge #{item.gameType} 
