extends ../../layouts/default

block head
    title Games

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
    if user && user.username
        - var S='position: relative; width: 200px; height: 300px;'
    else
        - var S='position: relative; width: 200px; height: 260px;'
    div.row(style='padding: 10px')
        div.col-lg-3.col-md-3.col-sm-6.col-xs-6
            div.thumbnail(style=S)
                a(class='btn btn-warning btn-block',href='#',style='left:0') Dvonn
                br
                img(src='/images/dvonn.jpg',style='max-width:100%')
                if user && user.username
                    br
                    a(class='btn btn-primary btn-block active',href='/games/new/?game=dvonn',style='position: absolute; left:0; bottom: 0') play
        div.col-lg-3.col-md-3.col-sm-6.col-xs-6
            div.thumbnail(style=S)
                a(class='btn btn-warning btn-block',href='/games/play/invers/rules/',style='left:0') Invers
                br
                img(src='/images/invers.jpg',style='max-width:100%')
                if user && user.username
                    br
                    a(class='btn btn-primary btn-block active',href='/games/new/?game=invers',style='position: absolute; left:0; bottom: 0') play
        div.col-lg-3.col-md-3.col-sm-6.col-xs-6
            div.thumbnail(style=S)
                a(class='btn btn-warning btn-block',href='#',style='left:0') Gipf
                br
                img(src='/images/gipf.jpg',style='max-width:100%')
                if user && user.username
                    br
                    a(class='btn btn-primary btn-block active',href='/games/new/?game=gipf',style='position: absolute; left:0; bottom: 0') play
        div.col-lg-3.col-md-3.col-sm-6.col-xs-6
            div.thumbnail(style=S)
                a(class='btn btn-warning btn-block',href='#',style='left:0') Kamisado
                br
                img(src='/images/kamisado.jpg',style='max-width:100%')
                if user && user.username
                    br
                    a(class='btn btn-primary btn-block active',href='/games/new/?game=kamisado',style='position: absolute; left:0; bottom: 0') play
    div.row(style='padding: 10px')
        div.col-lg-3.col-md-3.col-sm-6.col-xs-6
            div.thumbnail(style=S)
                a(class='btn btn-warning btn-block',href='#',style='left:0') Tzaar
                br
                img(src='/images/tzaar.jpg',style='max-width:100%')
                if user && user.username
                    br
                    a(class='btn btn-primary btn-block active',href='/games/new/?game=tzaar',style='position: absolute; left:0; bottom: 0') play
        div.col-lg-3.col-md-3.col-sm-6.col-xs-6
            div.thumbnail(style=S)
                a(class='btn btn-warning btn-block',href='/games/play/yinsh/rules/',style='left:0') Yinsh
                br
                img(src='/images/yinsh.jpg',style='max-width:100%')
                if user && user.username
                    br
                    a(class='btn btn-primary btn-block active',href='/games/new/?game=yinsh',style='position: absolute; left:0; bottom: 0') play
        div.col-lg-3.col-md-3.col-sm-6.col-xs-6
            div.thumbnail(style=S)
                a(class='btn btn-warning btn-block',href='#',style='left:0') Zertz
                br
                img(src='/images/zertz.jpg',style='max-width:100%')
                if user && user.username
                    br
                    a(class='btn btn-primary btn-block active',href='/games/new/?game=zertz',style='position: absolute; left:0; bottom: 0') play