doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/flags32.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            img.navbar-logo(src='/media/logo-symbol-64x64.png')
            span.navbar-brand-label #{projectName}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/') #{__("Home")}
            li: a(href='/games/') #{__("Games")}
            if user && user.username
              li: a(href='/tournaments/') #{__("Tournaments")}
              li: a(href='/players/') #{__("Players")}
            li: a(href='/ranking/') #{__("Ranking")}
            if user && user.username
              li: a(href='/mygames/') #{__("My offline games")}
            li: a(href='/forum/') #{__("Forum")}
            li: a(href='/faq/') #{__("FAQ")}
            if user && user.username
              li: a(href='/account/') #{__("My profile")}
            else
              li: a(href='/signup/') #{__("Sign Up")}
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") #{__("Language")}
                span.caret
              ul.dropdown-menu(role="menu")
                li.f32
                  a(href="/language/?lg=en")
                    span(class="flag us", style="vertical-align: middle")
                    | &nbsp; English
                  a(href="/language/?lg=fr")
                    span(class="flag fr", style="vertical-align: middle")
                    | &nbsp; Français
            if user && user.username
              li: a(href='/logout/')
                i.fa.fa-user
                |  #{__("Logout")} #{user.username}
            else
              li: a(href='/login/')
                i.fa.fa-user
                |  #{__("Sign In")}

    div.page
      div.container#main
        block body

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')

    block feet
