extends ../../../layouts/default

block head
    title Games

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/layouts/openxum.css?#{cacheBreaker}')

block body
    script(src='/javascripts/#{game}/#{name}.js')

    script(language='javascript').
        $(document).ready(function() { #{name}.load(function() { }); });

    script(language='javascript').
        function start() {
            var engine = new #{name}.Engine(0, 0);
            var first;
            var second;
            var progress_status = new OpenXum.ProgressStatus($('.progress-bar'), $('#results'), $('.progress'), #{game_number});

            if ('#{players[0]}' === 'MCTSPlayer') {
                first = new OpenXum.MCTSPlayer(0, engine);
                first.set_level(#{levels[0]});
            } else {
                first = new #{name}.#{players[0]}(0, engine);
            }
            if ('#{players[1]}' === 'MCTSPlayer') {
                second = new OpenXum.MCTSPlayer(1, engine);
                second.set_level(#{levels[1]});
            } else {
                second = new #{name}.#{players[1]}(1, engine);
            }
            if ('#{players[0]}' === 'RestWebServicePlayer') {
                first.set_url('#{urls[0]}');
            }
            if ('#{players[1]}' === 'RestWebServicePlayer') {
                second.set_url('#{urls[1]}');
            }

            (new OpenXum.AIManager(engine, first, second, progress_status)).start();
        };

    div.row.vertical-offset-100
        div.col-md-8.col-md-offset-2
            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') AI competition [#{game}]
                div.panel-body
                    a(class='btn btn-warning btn-md active',href='javascript:start();') start
                    br
                    br
                    div.progress.progress-striped
                        div.progress-bar(style="width: 0%;")
                    div#results