extends ../../../../layouts/default

block head
    title Games

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
    br
    div.row.vertical-offset-100
        div.col-md-8.col-md-offset-2
            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') #{__("Rules - Pentago")}
                div.panel-body
                    h4 #{__("Aim")}
                    | #{__("Place - turn - win by five in a row!")}
                    br
                    img(src="/images/pentago/pentago.jpg")

                    h4 #{__("The start")}
                    | #{__("The game starts with an empty game board. The game board consists of the four separate boards.")}

                    h4 #{__("Place and turn")}
                    | #{__("The starting player places a marble in a socket of his or her choice.")}
                    | #{__("After placing a marble the player turns any one of the four boards one notch (90 degrees) clock- or counter clock- wise.")}
                    | #{__("A board, not necessarily the one on which the marble has been placed, must be turned each move.")}
                    | #{__("Then the second player does the same, i.e. places a marble and turns a board. So on and so forth.")}

                    h4 #{__("End of a game")}
                    | #{__("The first player to get five marbles in a row wins!")}
                    br
                    br
                    | #{__("The row can be horizontal, vertical or diagonal and run over two or three boards.")}
                    | #{__("If a player gets five in a row when placing a marble he or she does not need to turn a board.")}
                    | #{__("If all the sockets have been filled without any player getting five in a row the game is a draw.")}
                    | #{__("If both players get five in a row as a player turns a board the game is also a draw.")}