extends ../../../layouts/default

block head
    title Games

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/css/openxum.css?#{cacheBreaker}')

block body
    - var button_classes = [ 'btn-primary', 'btn-success', 'btn-info', 'btn-warning', 'btn-danger' ]
    if game=="dvonn"
        - var color_keys = ['black','white']
        - var colors = ['Black','White']
        - var default_color = 'black'
        - var mode_keys = [ 'regular' ]
        - var modes = [ 'Regular' ]
        - var default_mode = 'regular'
        - var type_keys = [ 'ai' ]
        - var types = [ 'AI' ]
        - var default_type = 'ai'
    if game=="tzaar"
        - var color_keys = ['black','white']
        - var colors = ['Black','White']
        - var default_color = 'black'
        - var mode_keys = [ 'regular' ]
        - var modes = [ 'Regular' ]
        - var default_mode = 'regular'
        - var type_keys = [ 'ai' ]
        - var types = [ 'AI' ]
        - var default_type = 'ai'
    if game=="gipf"
        - var color_keys = ['black','white']
        - var colors = ['Black','White']
        - var default_color = 'black'
        - var mode_keys = [ 'basic', 'standard', 'tournament' ]
        - var modes = [ 'Basic', 'Standard', 'Tournament' ]
        - var default_mode = 'basic'
        - var type_keys = [ 'ai' ]
        - var types = [ 'AI' ]
        - var default_type = 'ai'
    if game=="yinsh"
        - var color_keys = ['black','white']
        - var colors = ['Black','White']
        - var default_color = 'black'
        - var mode_keys = [ 'regular' , 'blitz' ]
        - var modes = [ 'Regular', 'Blitz' ]
        - var default_mode = 'regular'
        - var type_keys = [ 'online', 'ai', 'offline' ]
        - var types = [ 'Online', 'AI', 'Offline' ]
        - var default_type = 'ai'
    if game=="kamisado"
        - var color_keys = [ 'black', 'white' ]
        - var colors = [ 'Black', 'White' ]
        - var default_color = 'black'
        - var mode_keys = [ 'simple' , 'standard', 'long', 'marathon' ]
        - var modes = [ 'Simple', 'Standard', 'Long', 'Marathon' ]
        - var default_mode = 'simple'
        - var type_keys = [ 'gui', 'online', 'ai', 'remote_ai', 'offline' ]
        - var types = [ 'GUI', 'Online', 'AI', 'Remote AI', 'Offline' ]
        - var default_type = 'ai'
    if game=="invers"
        - var color_keys = [ 'red', 'yellow' ]
        - var colors = [ 'Red', 'Yellow' ]
        - var default_color = 'red'
        - var mode_keys = [ 'standard' ]
        - var modes = [ 'Standard' ]
        - var default_mode = 'standard'
        - var type_keys = [ 'gui', 'online', 'ai', 'remote_ai', 'offline' ]
        - var types = [ 'GUI', 'Online', 'AI', 'Remote AI', 'Offline' ]
        - var default_type = 'ai'
    if game=="zertz"
        - var color_keys = ['one','two']
        - var colors = ['One','Two']
        - var default_color = 'one'
        - var mode_keys = [ 'regular' , 'blitz' ]
        - var modes = [ 'Regular', 'Blitz' ]
        - var default_mode = 'regular'
        - var type_keys = [ 'gui', 'online', 'ai', 'offline' ]
        - var types = [ 'GUI', 'Online', 'AI', 'Offline' ]
        - var default_type = 'ai'

    br
    div.row.vertical-offset-100
        div.col-md-8.col-md-offset-2
            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') New game [#{game}]
                div.panel-body
                    - var i = 2
                    form.form-horizontal.col-md-10.col-md-offset-1(role='form', action='/games/create/',method='post')
                        div.form-group
                            div.input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-tower
                                input.form-control(type="text", name="name", value="", placeholder="Game name")
                        div.form-group
                            label.control-label.col-sm-3 Color
                            div.col-sm-9
                                div.btn-group.input-group(data-toggle="buttons")
                                    each color,index in color_keys
                                        if color==default_color
                                            label(class="btn #{button_classes[i]} active")
                                                input(type="radio", name="color", value=color, checked=color==default_color)
                                                | #{colors[index]}
                                        else
                                            label(class="btn #{button_classes[i]}")
                                                input(type="radio", name="color", value=color, checked=color==default_color)
                                                | #{colors[index]}
                                    - i = i + 1
                                    if i == 5
                                        - i = 0
                        div.form-group
                            label.control-label.col-sm-3 Mode
                            div.col-sm-9
                                div.btn-group.input-group(data-toggle="buttons")
                                    each mode, index in mode_keys
                                        if mode == default_mode
                                            label(class="btn #{button_classes[i]} active")
                                                input(type="radio", name="mode", value=mode, checked=mode==default_mode)
                                                | #{modes[index]}
                                        else
                                            label(class="btn #{button_classes[i]}")
                                                input(type="radio", name="mode", value=mode, checked=mode==default_mode)
                                                | #{modes[index]}
                                    - i = i + 1
                                    if i == 5
                                        - i = 0
                        div.form-group
                            label.control-label.col-sm-3 Type
                            div.col-sm-9
                                div.btn-group.input-group(data-toggle="buttons")
                                    each type, index in type_keys
                                        if type == default_type
                                            label(class="btn #{button_classes[i]} active")
                                                input(type='radio',name='game_type',value=type, checked=type==default_type)
                                                | #{types[index]}
                                        else
                                            label(class="btn #{button_classes[i]}")
                                                input(type='radio',name='game_type',value=type, checked=type==default_type)
                                                | #{types[index]}
                                    - i = i + 1
                                    if i == 5
                                        - i = 0
                        input(type='hidden',name='game',value='#{game}')
                        input(type='submit',name='create',value='Create',class='btn btn-md btn-success btn-block')