extends ../../../layouts/default

block head
    title Games

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
    if game=="dvonn"
        - var color_keys = ['black','white']
        - var colors = ['Black','White']
        - var default_color = 'black'
        - var mode_keys = [ 'regular' ]
        - var modes = [ 'Regular' ]
        - var default_mode = 'regular'
    if game=="yinsh"
        - var color_keys = ['black','white']
        - var colors = ['Black','White']
        - var default_color = 'black'
        - var mode_keys = [ 'regular' , 'blitz' ]
        - var modes = [ 'Regular', 'Blitz' ]
        - var default_mode = 'regular'
    if game=="kamisado"
        - var color_keys = [ 'black', 'white' ]
        - var colors = [ 'Black', 'White' ]
        - var default_color = 'black'
        - var mode_keys = [ 'simple' , 'standard', 'long', 'marathon' ]
        - var modes = [ 'Simple', 'Standard', 'Long', 'Marathon' ]
        - var default_mode = 'simple'
    if game=="invers"
        - var color_keys = [ 'red', 'yellow' ]
        - var colors = [ 'Red', 'Yellow' ]
        - var default_color = 'red'
        - var mode_keys = [ 'standard' ]
        - var modes = [ 'Standard' ]
        - var default_mode = 'standard'

    br
    div.row.vertical-offset-100
        div.col-md-8.col-md-offset-2
            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') New game [#{game}]
                div.panel-body
                    form(action='/games/create/',method='post')
                        div.form-group
                            div.input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-tower
                                input.form-control(type="text", name="name", value="", placeholder="Game name")
                        div.form-group
                            fieldset
                                legend Color
                                each color in color_keys
                                    input(type="radio", name="color", value=color, checked=color==default_color)
                                    label.radio-inline #{color}
                                    &nbsp;&nbsp;
                        div.form-group
                            fieldset
                                legend Mode
                                each mode in mode_keys
                                    input(type="radio", name="mode", value=mode, checked=mode==default_mode)
                                    label.radio-inline #{mode}
                                    &nbsp;&nbsp;
                        div.form-group
                            fieldset
                                legend Type
                                input(type='radio',name='game_type',value='online')
                                label.radio-inline Online
                                &nbsp;&nbsp;
                                input(type='radio',name='game_type',value='offline')
                                label.radio-inline Offline
                                &nbsp;&nbsp;
                                input(type='radio',name='game_type',value='ai',checked="true")
                                label.radio-inline AI
                        input(type='hidden',name='game',value='#{game}')
                        input(type='submit',value='Create',class='btn btn-lg btn-success btn-block')