extends ../../../../layouts/default

block head
    title Games

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
    br
    div.row.vertical-offset-100
        div.col-md-8.col-md-offset-2
            div.panel.panel-primary
                div.panel-heading
                    h3(class='panel-title') Rules - Gipf by Kris Burm
                div.panel-body
                    h4 #{__("Aim")}
                    | #{__("The first player to create a situation where his opponent either has no more pieces in his reserve or no more GIPF-pieces on the board, wins the game. So, keep in mind: make sure to always have at least one piece in reserve and always at least one GIPF-piece on the board.")}

                    h4 #{__("Pieces")}
                    | #{__("The players start with 18 pieces in reserve each. Pieces in reserve are pieces of your own color that are not in play. A GIPF-piece is 2 pieces stacked one upon another.")}

                    h4 #{__("The board")}
                    | #{__("There are 24 dots at the edges of the pattern on the board. Dots are not part of the play area; they serve to position a piece before bringing it into play. The play area is made up of 37 spots (intersections). Only the pieces covering a spot are part of the game. The lines indicate in which directions pieces may be moved.")}
                    br
                    img(src="/images/gipf/rules1_board.gif")

                    h4 #{__("The start")}
                    | #{__("The board is empty. Both players have 18 pieces in reserve.")}

                    h4 #{__("First move: GIPF-piece")}
                    | #{__("Draw lots for your color. If you draw white, you begin. Your first move must be a GIPF-piece. Take two pieces out of your reserve and stack them on top of each other; put the double piece on any of the black dots and next push it onto an adjacent spot. You may move a piece only one spot at a time, never two or more. Then your opponent brings a GIPF-piece into play.")}
                    br
                    img(src="/images/gipf/rules2_firstpiece.gif")

                    h4 #{__("Moving other pieces")}
                    | #{__("Both players have made one move. When introducing a piece you can either move it to an empty spot, or to an already occupied spot. If the spot is already occupied, it must first be cleared: the piece occupying it, regardless of its color, must be moved to the next spot on the line (if that spot would also be occupied, then this piece also moves over one spot, etc.). Next, push the piece onto the cleared spot. In the diagram Black moved over the white GIPF-piece one spot.")}
                    br
                    img(src="/images/gipf/rules3_pushpiece.gif")

                    h4 #{__("Introducing single pieces")}
                    | #{__("Both players may introduce as many GIPF-pieces as they want, until they bring a single piece into play. When learning the game, we advise you to play with 3 or 4 GIPF-pieces. In the diagram Black just played a single piece (on spot d2) and may introduce no more GIPF-pieces during the rest of the game. White may still do so until he, too, plays his first single piece.")}
                    br
                    img(src="/images/gipf/rules4_singlepiece.gif")
                    br
                    | #{__("Two restrictions:")}
                    br
                    ul
                        li #{__("A piece already in play may not be moved as a separate piece. A piece (or more pieces) on the board can only be moved by introducing a new piece. All of the pieces in play may be pushed by both players, black and white pieces, single and GIPF-pieces.")}
                        li #{__("When all the spots on a line are occupied, you cannot play in the direction of that line. If you would, you would push a piece out of the game at the opposite site and that is not allowed.")}

                    h4 #{__("Recycling and capturing pieces")}
                    | #{__("Very simple: as soon as 4 single pieces of your color are lined up on adjacent spots (dots don't count!), it is compulsory to take them from the board. Moreover, not only must these 4 pieces be removed, but also the pieces that form a direct extension of them. The pieces of your own color are returned to your reserve, the pieces of the other color are captured, thus lost to your opponent. (See diagrams below)")}

                    h4 #{__("GIPF-pieces in play")}
                    | #{__("A GIPF-piece counts for just one piece. The only difference between a single piece and a GIPF-piece (no matter the color) it that GIPF-pieces may be left on the board when they are part of a row that must be removed. If you remove a GIPF-piece of your color, you may not introduce it as a GIPF-piece any more if you already started playing with single pieces: you must split the GIPF-piece into two single pieces.")}
                    br
                    img(src="/images/gipf/rules5a_gipfpiece.gif")
                    br
                    | #{__("Diagram: White played a1-f5 (indicated with the arrow). By doing so, he pushed a white piece onto the central spot and formed himself a row of 4 pieces on the e-diagonal. He must remove the 3 single pieces and may chose what to do with the GIPF-piece, i.e. remove it or leave it on its spot. The 2 pieces at the other end of the diagonal remain on the board, because they don't extend the row of 4 without interruption.")}
                    br
                    img(src="/images/gipf/rules5b_gipfcapture_a.gif")
                    br
                    | #{__("In the diagram you see a row of 4 white pieces on the a5-i1 diagonal. White must remove the 4 pieces in a row AND the white and black single piece extending the row AND, if wanted, the Black GIPF-piece… which results in the situation in the next diagram...")}
                    br
                    img(src="/images/gipf/rules6a_gipfcapture_b.gif")
                    br
                    | #{__("White took the Black-GIPF-piece on c5, of course. It rarely happens that it is better to leave an opponent's GIPF-piece on the board. In total White captured 3 black pieces and recycled 5 white pieces. So, as you see, each time a player forms a row, quite a few pieces are to be removed. As such, GIPF is played in waves: you put pieces on the board, trying to get in a position that will allow you to capture something, and if you do so, you must start building again...")}

                    h4 #{__("Forced capture")}
                    | #{__("Taking pieces from the board is not a move in itself; it is always the result of a move, either your move, or your opponent's. In the diagram white played b1-e4 and completed a row of 4 black pieces. Black must take the 3 single pieces from the board, and decide what he'll do with the GIPF-piece, and must then make a move. Now Black has more pieces in reserve, but White's advantage is that Black has less pieces on the board, thus a weaker position!")}
                    br
                    img(src="/images/gipf/rules7_forcedcapture.gif")
                    br
                    | #{__("Note: if one or two pieces would extend the row (no matter what color), Black must take them, too.")}

                    h4 #{__("2 rows...")}
                    | #{__("It may occur that two rows are lined up at the same time. If these rows don't intersect, both must be removed. If they do intersect (as shown in the diagram), the player may choose which row he will take. (If there would be a GIPF-piece on the spot of intersection, White may first take one row, leave the GIPF-piece and the board, and next take the second row.)")}
                    br
                    img(src="/images/gipf/rules8_2rows_a.gif")
                    br
                    | #{__("When a situation occurs in which both players must remove pieces, the player who caused the situation goes first.")}
                    br
                    img(src="/images/gipf/rules9_2rows_b.gif")
                    br
                    | #{__("In the diagram: White has made the move indicated by the arrow and may take pieces first; he takes 4 white pieces and captures a GIPF-piece. Next Black must remove the row of 4 black pieces - and captures nothing.")}

                    h4 #{__("Row of 4 GIPF-pieces")}
                    | #{__("It may happen that 4 (or even more) GIPF-pieces of one color are lined up. In this case, you may leave them on their spots or you may take one or more from the board. If you decide to leave them on the board and they are still lined up when it is your turn again, then you may again choose what you'll do before you make your move, and, if they are still lined up after having played, after your move.")}
                    br
                    img(src="/images/gipf/rules10_4gipfs.gif")

                    h4 #{__("End of a game")}
                    | #{__("There are two ways of winning: you must capture your opponent's last GIPF-piece or you must exhaust his reserve. As said in the beginning: a player who has either no more GIPF-pieces on the board, or has no more pieces left to make a move, loses the game.")}
                    br
                    img(src="/images/gipf/rules11_lastgipf.gif")
                    br
                    | #{__("In the diagram: White captures Black's last GIPF-piece and wins...")}
                    br
                    img(src="/images/gipf/rules12_lastpiece.gif")
                    br
                    | #{__("Diagram: it is Black's turn. He has only one piece left in his reserve and there's no way to recycle pieces. So, he'll run out of pieces and lose with his next turn. (Note that White lost more pieces than Black, yet still wins!)")}

                    h4 #{__("Remarks")}
                    br
                    ul
                        li #{__("Don't misinterpret the aim of the game; you can only win by capturing the opponent's pieces, not by returning your own pieces repeatedly from the board to the reserve!")}
                        li #{__("A tie is not possible. The first player to run out of pieces loses the game, even if the other player, too, would run out of pieces in his next turn.")}
                        li #{__("Players should always be able to see how many pieces the opponent has left in his reserve. Leave them clearly visible next to the board.")}